global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend postgres
    bind *:5432
    default_backend postgres_primary_vip

backend postgres_primary_vip
    server pg-vip 172.30.0.100:5432 check inter 2s fall 2 rise 2
